/* 患者カード全体のリンクスタイル */
.patient-card-link {
  text-decoration: none;
  color: inherit; /* リンクの色を継承 */
}

/* 患者カードのスタイル */
.patient-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 10px 0;
  background-color: #f0f8ff; /* 初期の背景色 */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.all-patients-btn {
  background-color: #c6e3f0; /* ライトブルー */
}


/* 患者カード内の情報の中央寄せ */
.patient-details {
  text-align: center; /* 文字を中央に寄せる */
  flex-grow: 1;
  margin-left: 20px;
}

/* 患者アイコン */
.icon {
  width: 170px;
  height: 170px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 30px; /* アイコンとテキストの間に余白 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* カードにホバーしたときのスタイル */
.patient-card:hover {
  background-color: #d8e6f2; /* ホバー時の背景色 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* ホバー時の影 */
}

/* 全体のリンクにカーソルを変える */
.patient-card {
  cursor: pointer;
}

/* ドロップダウンメニュー */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 1;
}

.dropdown ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown ul li:hover {
  background-color: #f1f1f1;
}

.all-patients-btn{
  text-decoration: none;
}