/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ヘッダースタイル */
.header-container {
  background-color: #0b3c75;
  padding: 20px 20px;
  margin-bottom: 15px !important; /* 各フィールドの下部に余白 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
}

/* リンクのスタイル */
.app-title-link {
  color: white; /* リンクの色を白に */
  text-decoration: none; /* 下線をなくす */
}

.app-title-link:hover {
  text-decoration: underline; /* ホバー時に下線を表示 */
}

/* フッタースタイル */
.footer-container {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;  
}


html, body {
  height: 100%;
  font-family: 'Arial', sans-serif; /* フォントを設定 */
  background-color: #f7f7f7; /* 明るいグレーの背景色 */
  color: #444; /* テキストの色を少し暗めに */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ビューポートの高さをカバーする */
}

h2 {
  color: #4a90e2; /* タイトルの色を落ち着いた青に */
  text-align: center; /* タイトルを中央揃え */
  margin-bottom: 20px; /* 下部の余白 */
}

/* div {
  margin-bottom: 15px; /* 各フィールドの下部に余白 */

 */
label {
  font-weight: bold; /* ラベルを太字に */
  display: block; /* ラベルをブロック要素に */
  margin-bottom: 5px; /* ラベルと入力フィールドの間に余白 */
  color: #333; /* ラベルの色 */
}

