/* フォーム全体のスタイル */
form {
  max-width: 500px; /* フォームの幅を設定 */
  margin: 0 auto !important;
  padding: 20px !important;
  background-color: #fff; /* フォームの背景色 */
  border-radius: 10px; /* 角を丸くする */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 影をつける */
}

/* 各フィールドのスタイル */
form div {
  margin-bottom: 15px; /* 各フィールドの間隔 */
}

/* ラベルのスタイル */
form label {
  display: block; /* ラベルをブロック要素に */
  margin-bottom: 5px; /* ラベルと入力フィールドの間の余白 */
  font-weight: bold; /* ラベルを太文字に */
}

/* 入力フィールドのスタイル */
form input[type="datetime-local"],
form select,
form textarea {
  width: 100%; /* 幅を100%に */
  padding: 10px; /* 内側の余白 */
  border: 1px solid #ccc; /* ボーダー */
  font-size: 16px; /* フォントサイズ */
  box-sizing: border-box; /* ボックスサイズを計算に含める */
  border-radius: 5px; /* 角を丸くする */
  transition: border-color 0.3s; /* ボーダー色のトランジション */
}

/* ボタンのスタイル */
form input[type="submit"] {
  background-color: #007bff; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  border: none; /* ボーダーをなし */
  border-radius: 4px; /* 角を丸く */
  padding: 10px 15px; /* 内側の余白 */
  cursor: pointer; /* カーソルをポインタに */
  font-size: 16px; /* フォントサイズ */
  font-weight: bold;
}

form input[type="submit"]:hover {
  background-color: #0056b3; /* ホバー時の色 */
}

.delete-button{
  background-color: #dc3545;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.delete-button:hover {
  background-color: #c82333; /* ホバー時の背景色 */
}

.btn-cancel {
  background-color: #6c757d; 
  color: white;
  padding: 10px 15px; /* ボタンの内側の余白 */
  border: none; /* ボタンの境界線をなし */
  border-radius: 4px; /* ボタンの角を丸くする */
  cursor: pointer; /* マウスカーソルをポインタに */
  text-decoration: none;
  font-weight: bold;
}

.btn-cancel:hover {
  background-color: #5a6268; /* ホバー時の背景色 */
}

/* タスク */
input[type="text"],
input[type="number"],
input[type="tel"],
textarea {
  width: 100%; /* 幅を100%に設定 */
  padding: 10px; /* 内側の余白 */
  border: 1px solid #ccc; /* ボーダーの色 */
  border-radius: 5px; /* 角を丸くする */
  transition: border-color 0.3s; /* ボーダー色のトランジション */
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #4a90e2; /* フォーカス時のボーダー色 */
  outline: none; /* デフォルトのアウトラインを無くす */
}

.form-body {
  height: 100vh;
}

h1 {
  text-align: center; /* タイトルを中央に */
  font-size: 24px !important;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px; /* 各フォーム要素の間隔 */
}

.form-group label {
  display: block; /* ラベルをブロック要素に */
  margin-bottom: 5px; /* ラベルと入力の間隔 */
  font-weight: bold; /* ラベルのフォントを太くする */
}

.form-control {
  width: 100%; /* 入力要素の幅を100%に */
  padding: 8px; /* 内側の余白 */
  border: 1px solid #ccc; /* ボーダー */
  border-radius: 4px; /* 角を丸く */
  font-size: 16px; /* フォントサイズ */
}

.error-explanation {
  background-color: #f8d7da; /* エラーメッセージ背景色 */
  color: #721c24; /* エラーメッセージ文字色 */
  padding: 10px; /* 内側の余白 */
  border: 1px solid #f5c6cb; /* ボーダー */
  border-radius: 4px; /* 角を丸く */
  margin-bottom: 20px; /* 下の余白 */
}

.form-actions {
  margin-top: 20px; /* フォームボタンの上の余白 */
}

